################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FashionGo - full/.vs
/Chưa Upload
