################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FashionGo - full/.vs
/Chưa Upload
/FashionGo - full/obj
/FashionGo - full/bin
/FashionGo - full/FashionGo/obj
/FashionGo - full/FashionGo/bin
